<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="combined_scene">


  <xacro:include filename="$(find fixture_table_description)/urdf/fixture_table.xacro" />
  <xacro:fixture_table />

  <!-- Include robotic arm -->
  <xacro:include filename="$(find ajgar_description)/urdf/ajgar.xacro" />
  <xacro:ajgar />
</robot>
